.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.DS_Store
.DS_Store
*.json
inst/application/tests/DatosIris.R
inst/application/tests/iris.csv
inst/application/tests/DatosTitanic.R
inst/application/tests/titanicLimpio.csv
